@{
    ViewData["Title"] = "Home Page";
}

<div>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BACH MAI Hospital</title>
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="top-bar-contact">
                    <span>TP. Hà Nội: 024 7106 6858 - 024 3872 3872</span>

                    <span>TP. Hồ Chí Minh: 028 7102 6789 - 093 180 6858</span>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/images/bv4.jpg" alt=" Logo" class="logo" herf="https://localhost:7263" />
                </a>

                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Giới thiệu</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Chuyên khoa</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://localhost:44357/Patients/Create">Tạo hồ sơ khám Bênh</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Thành tựu</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Tin tức</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://localhost:7263/login">Đăng nhập</a></li>
                </ul>
            </div>
        </nav>
        </header>
        <div style="    background-image: url('../images/bgr.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; ">
  <div class="image-container">
        <div class="image-panel">
            <img src="~/images/niie.png" alt="Image 1">
        </div>
        <div class="image-panel">
            <img src="~/images/ssh.jpg" alt="Image 2">
        </div>
    </div>

    <div class="image-container">

        <div class="image-panel ">
            <h1 class="header" style="color:blue;">HỆ THỐNG BỆNH VIỆN CAO CẤP CHUẨN 5 SAO HÀNG ĐẦU VIỆT NAM</h1>
            <br />
            <br />

            <div style="text-align: center;">Hệ thống Bệnh Viện Đa Khoa Tâm Anh là địa chỉ uy tín về khám chữa bệnh, với đội ngũ chuyên gia - bác sĩ hàng đầu, trang thiết bị hiện đại, cùng các phác đồ điều trị hiệu quả, khoa học mang đến dịch vụ khám, điều trị, chăm sóc sức khỏe cao cấp, toàn diện với chi phí hợp lý.</div>
        </div>
        <div class="image-panel">
            <img src="~/images/1.jpg" alt="Image 1">
        </div>
    </div>
     <div class="image-container1">
        <div class="image-item">
            <img style="width: 100%;
            height: 100%;
            object-fit: cover;" src="~/images/1.jpg" alt="Ảnh 1">
            <div class="image-description"style="text-align: center;color:blue;"> Bệnh viện  </div>
        </div>
        <div class="image-item">
            <img style="width: 100%;
            height: 100%;
            object-fit: cover;" src="~/images/2.jpg" alt="Ảnh 2">
            <div class="image-description"style="text-align: center;color:blue;">Sảnh chờ </div>
        </div>
        <div class="image-item">
            <img style="width: 100%;
            height: 100%;
            object-fit: cover;" src="~/images/3.jpg" alt="Ảnh 3">
            <div class="image-description"style="text-align: center;color:blue;">Quầy thu ngân </div>
        </div>
        <br>
    </div>
    <br />
    <br />
    <div class="image-container">
        <div class="image-panel">
            <img src="~/images/1.jpg" alt="Image 1" style="width=200 ;height=150">
        </div>
        <div class="image-panel" >
            <h1 class="header"> Đội ngũ bác sĩ  </h1>
            <div>Hệ thống Bệnh Viện Đa Khoa Tâm Anh là địa chỉ uy tín về khám chữa bệnh, với đội ngũ chuyên gia - bác sĩ hàng đầu, trang thiết bị hiện đại, cùng các phác đồ điều trị hiệu quả, khoa học mang đến dịch vụ khám, điều trị, chăm sóc sức khỏe cao cấp, toàn diện với chi phí hợp lý.</div>
        </div> 
    </div>
     <div class="image-container">
        <div class="image-panel" style="background-color: white;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);opacity: 0.5">
            <h1 class="header" style="color:blue;text-align: center;">        Hệ thống chăm sóc khách hàng </h1>
            <br />
            <br />
            <br />
                <div style="font-size: 25px"> 
                    Chúng tôi cung cấp dịch vụ tư vấn sức khỏe 24/7, hỗ trợ đặt lịch khám trực tuyến, và dịch vụ chăm sóc sau điều trị tận tình. Đội ngũ nhân viên chăm sóc khách hàng của chúng tôi luôn sẵn sàng giúp đỡ và tư vấn để đảm bảo sự hài lòng của bạn </div>
        </div> 
        <div class="image-panel" style="background-color: white;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);opacity: 0.5">
            <h1 class="header" style="color:blue;text-align: center;">Cam kết chất lượng  </h1>
            <br />
            <br />
            <br />
                <div style="font-size: 25px"> Bệnh viện ABC cam kết duy trì tiêu chuẩn chất lượng dịch vụ y tế cao nhất, đảm bảo an toàn và sự hài lòng của bệnh nhân. Chúng tôi thực hiện các quy trình kiểm tra chất lượng định kỳ và liên tục cải tiến dịch vụ để đáp ứng nhu cầu của bệnh nhân  </div>
        </div> 
    </div>
    </div>
    </body>

    <footer>
    <div>
        <h3>TP.Hồ Chí Minh </h3>
        <p><strong>Địa chỉ:</strong> 458/3F Nguyễn Hữu Thọ, P. Tân Hưng, Quận 7, TP.HCM</p>
        <p><strong>Số điện thoại:</strong> 19002039 </p>
    </div>
    <div>
        <h3>TP. Hồ Chí Minh</h3>
        <p><strong>Địa chỉ:</strong> 300A – Nguyễn Tất Thành, Phường 13, Quận 4, TP. Hồ Chí Minh, Việt Nam</p>
        <p><strong>Số điện thoại:</strong> 1900 2039 </p>
    </div>

</footer>
</div>
